Options +FollowSymLinks
RewriteEngine On

RewriteBase /projects/goyo/pages/
#RewriteBase /pages/

## Tracking Ride
RewriteRule ^track-ride/(.*)/$ track-ride.php?ride_code=$1&%{QUERY_STRING} [L]
RewriteRule ^track-ride/(.*)$ track-ride.php?ride_code=$1&%{QUERY_STRING} [L]